*{
list-style:none;
margin:0px;
padding:0px;
}
a{
text-decoration:none;
color:black;
}
html{
width:100%;
}
body{
width:100%;
margin:0px;
padding:0px;
overflow-x:hidden;
}
.navbar{
background:#f6f5ef;
width:100%;
height:100px;
display:flex;
justify-content:center;
align-items:center;
top:0px;
position:fixed;
z-index:8;
height:120px;
padding:0px;
margin:0px;
}

.main_img{
position:fixed;
top:20px;
left:65px;
z-index:8;
width:70px;
height:70px;
}
.navbar img{
cursor:pointer;
}

.menubar{
width:1000px;
height:120px;
}

.menu1{
height:40px;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
}

.menu1 li{
padding:0px 10px;
font-size:14px;
height:15px;
}

.menu1 li:not(:nth-child(4)){
border-right:1px solid gray;
}

.menu1 img{
padding:10px;
cursor:pointer;
}

.menu2{
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
height:80px;
}

.menu2 li{
padding:10px 28px 40px 28px;
margin-top:11px;
font-size:14px;
}

.menu1 li:hover{
text-decoration:underline;
}


.menu2 li:hover{
text-decoration:underline;
background:#2e2e2e;
}

.menu2 li:hover .green{
color:green;
}

.menu2 li:hover .white{
color:white;
}

.tap{
position:absolute;
top:120px;
width:100%;
right:0px;
height:0;
background:#2e2e2e;
visibility:hidden;
}

.menu2 li:hover .tap{
height:330%;
transition:0.3s;
visibility:visible;
}

.menu2 li:hover .bottom_img1{
visibility:visible;
width:100%;
height:470px;
transition:0.5s;
}

.line{
width:100%;
height:200px;
display:flex;
justify-content:space-between;
}

.tap1{
font-size:13px;
}

.tap1 a{
color:gray;
}


.tap1 li:first-child{
padding:15px;
}

.tap1 li:not(:first-child){
padding:0px;
padding-left:15px;
font-size:12px;
margin-top:5px;
}


.line .tap1 a{
color:gray;
}

.line2{
padding-left:74px;
}


.images{
position:relative;
left:0%;
width:100%;
height:1280px;
z-index:4;
background:white;
overflow-x:hidden;
}

.banner{
display:flex;
flex-direction:column;
position:fixed;
top:30%;
left:86%;
width:0px;
height:0px;
z-index:10;
}

.coffee_img_button{
position:absolute;
top:350px;
left:22%;
width:10%;
height:40px;
border-radius:6px;
border: 1px solid #FA58AC;
background:#F6CEE3;
cursor:pointer;
z-index:5;
animation:main5 15s infinite;

}
.coffee_img_button a{
color:#FA58AC;
font-size:14px;
}

.coffee_img_button:hover a{
text-decoration:underline;
}

.coffee_image{
position:relative;
top:0px;
width:100%;
height:650px;
background:#F6CEE3;
display:flex;
z-index:1;
}

.coffee_img1{
position:absolute;
width:25%;
top:150px;
left:15%;
z-index:2;
animation: main1 15s infinite;
}

.coffee_img2{
position:absolute;
width:40%;
top:300px;
left:25%;
z-index:2;
animation: main3 15s infinite;
}

.coffee_img3{
position:absolute;
width:32%;
top:130px;
left:42%;
z-index:2;
animation: main2 15s infinite;
}

.coffee_img4{
position:absolute;
width:25%;
top:230px;
left:70%;
z-index:2;
animation: main4 15s infinite;
}


@keyframes main1{
0%{opacity:0;}
5%{opacity:0;}
8%{opacity:1;}
100%{opacity:1;}
}

@keyframes main2{
0%{opacity:0;}
10%{opacity:0;}
13%{opacity:1;}
100%{opacity:1;}
}

@keyframes main3{
0%{opacity:0;}
15%{opacity:0;}
18%{opacity:1;}
100%{opacity:1;}
}

@keyframes main4{
0%{opacity:0;}
20%{opacity:0;}
23%{opacity:1;}
100%{opacity:1;}
}

@keyframes main5{
0%{opacity:0;}
25%{opacity:0;}
28%{opacity:1;}
100%{opacity:1;}
}

.box{
position:relative;
left:0%;
display:flex;
justify-content:center;
align-items:center;
width:100%;
height:50px;
z-index:1;
}

.black_box{
display:flex;
background:black;
justify-content:flex-end;
width:50%;
height:100%;
color:white;
text-align:center;
line-height:50px;
}

.box2{
display:flex;
justify-content:center;
align-items:center;
width:50%;
height:100%;
text-align:center;
line-height:50px;
font-size:16px;
background:white;
}

.adver_img{
display:flex;
justify-content:flex-end;
align-items:center;
width:40%;
height:50px;
}

.adver_img  img{
width:35px;
height:35px;
padding:20px;
cursor:pointer;
}

.box2 img{
width:30px;
height:30px;
}

.box2 a{
padding:40px;
}

.promotion{
position:absolute;
display:flex;
z-index:3;
width:240%;
height:550px;
transition:0.5s;
animation:pro 6s infinite;
animation-direction:alternate;
}

.promotion_img{
position:relative;
left:0%;
margin:30px 5px;
width:25%;
height:450px;
z-index:2;
}

.pro_img{
width:96%;
height:100%;
cursor:pointer;
}


label img{
width:100%;
opacity:0.9;
}
.left_right{
justify-content:center;
align-items:center;
position:absolute;
top:880px;
left:2%;
z-index:4;
width:100%;
height:100px;
}
.left_right2{
display:none;
}
.left2{
display:none;
}
.right2{
display:none;
}
.left{
position:absolute;
justify-content:center;
align-items:center;
width:40px;
height:40px;
left:27%;
cursor:pointer;
border:1px solid black;
border-radius:25px;
z-index:2;
display:none;
}

.right{
position:absolute;
width:40px;
height:40px;
left:73%;
cursor:pointer;
border:1px solid black;
border-radius:25px;
z-index:1;
display:none;
}

.paging{
position:absolute;
top:600px;
z-index:4;
width:100%;
height:50px;
display:flex;
justify-content:center;
align-items:center;
}

.paging img{
padding:5px;
cursor:pointer;
}



.paging1{
animation: paging1 6s infinite alternate;
}


.paging2{
animation: paging2 6s infinite alternate;
}


.paging3{
animation: paging3 6s infinite alternate;
}

@keyframes paging1{
0%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_on.png)}
33%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_on.png)}
34%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
100%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
}


@keyframes paging2{
0%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
33%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
34%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_on.png)}
66%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_on.png)}
67%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
100%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
}

@keyframes paging3{
0%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
66%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_off.png)}
67%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_on.png)}
100%{content:url(https://www.starbucks.co.kr/common/img/main/main_prom_on.png)}
}




.slide_bt{
border:none;
background:#00ff0000;
}


.slide_img{
cursor:pointer;
}
.slide_img2{
display:none;
}
.slide_bt2{
display:none;
}

@keyframes pro{
0%{
transform:translate(10%);
}
30%{
transform:translate(10%)
}
35%{
transform:translate(-15%)
}
65%{
transform:translate(-15%)
}
70%{
transform:translate(-41%)
}
100%{
transform:translate(-41%)
}
}

#img_up{
cursor:pointer;
z-index:2;
}

.pro_button{
position:relative;
bottom:50px;
left:40%;
z-index:3;
width:110px;
height:35px;
background:white;
border-radius:2px;
border:1px solid black;
transition:0.5s;
}

.pro_button:hover{
background:black;
}

.pro_button:hover a{
color:white;
text-decoration:underline;
}

.adver{
position:relative;
top:0px;
left:3%;
width:125px;
z-index:2;

}

.adver a:hover{
text-decoration:underline;
}

.adver1 a{
position:absolute;
animation:adver1 12s infinite;
left:40%;
top:50px;
color:white;
z-index:1;

}

.adver2 a{
position:absolute;
animation:adver2 12s infinite;
left:40%;
top:50px;
color:white;
z-index:1;

}

.adver3 a{
position:absolute;
animation:adver3 12s infinite;
left:40%;
top:50px;
color:white;
z-index:1;
}

.adver4 a{
position:absolute;
animation:adver4 12s infinite;
left:40%;
top:50px;
color:white;
z-index:1;
}

@keyframes adver1{
0%{top:50px;}
5%{top:0px;left:40%;}
25%{top:0px;left:40%;}
26%{top:50px;}
100%{top:50px;}
}

@keyframes adver2{
0%{top:50px;}
25%{top:50px;}
30%{top:0px;left:40%;}
50%{top:0px;left:40%;}
51%{top:50px;}
100%{top:50px;}
}

@keyframes adver3{
0%{top:50px;}
50%{top:50px;}
55%{top:0px;left:40%;}
75%{top:0px;left:40%;}
76%{top:50px;}
100%{top:50px;}
}

@keyframes adver4{
0%{top:50px;}
75%{top:50px;}
76%{top:0px;left:40%;}
100%{top:0px;left:40%;}
}

.login{
position:relative;
left:0%;
transition:0.5s;
width:100%;
height:250px;
background:#1e3932;
z-index:4;
top:0px;
display:flex;
align-items:center;
justify-content:center;
}
#lines1-2{
position:absolute;
top:169px;
left:46%;
font-weight:1000;
}
#lines2-2{
position:absolute;
top:186px;
left:52%;
}
.login_img img{
width:150px;
padding:30px;
}

.login_right1{
border-bottom:1px solid gray;
width:750px;
height:120px;
display:flex;
align-items:center;
justify-content:space-between;
}

.login_right2{
display:flex;
align-items:center;
justify-content:center;
justify-content:space-between;
width:750px;
height:70px;
}

.login_right1_bt{
display:flex;
padding-top:50px;
width:175px;
justify-content:space-between;
}
.login_bt1{
width:90px;
height:35px;
border-radius:6px;
border:none;
background:#00704A;
font-size:13px;
}

.login_bt2{
width:75px;
height:35px;
border-radius:6px;
border:none;
background:#00ff0000;
border: 1px solid white;
}

.login_bt2 a{
color:white;
}
.login_bt2:hover a{
color:white;
text-decoration:underline;
}

.login_bt1 a{
color:white;
}
.login_bt1:hover a{
color:white;
text-decoration:underline;
}

.login p{
color:white;
width:500px;
}

.login_right2_bt{
width:173px;
height:35px;
background:#00ff0000;
border:1px solid white;
border-radius:6px;
}

.login_right2{
display:flex;
}

.lines2{
display:flex;
flex-direction:column;
}
.login_right2_bt a{
color:white;
}

.login_right2_bt:hover a{
text-decoration:underline;
}

.new_menu1{
transition:0.5s;
position:relative;
left:0%;
z-index:4;
width:100%;
height:480px;
background:url('./starbucks_img/star_back.png');
display:flex;
justify-content:center;
}

.middle_img2{
width:320px;
height:130px;
}

.new_menu_animation{
width:50%;
height:500px;
display:flex;
justify-content:center;
justify-content:space-between;
align-items:center;
animation:middle 3s infinite alternate;
}

.new_menu_right{
display:flex;
flex-direction:column;
}

.new_menu_right button{
width:125px;
height:38px;
margin-top:30px;
border-radius:6px;
background:#A9E2F3;
border:1px solid black;
color:#29088A;
font-size:14px;
transition:1s;
}

.new_menu_right button a{
transition:1s;
}


.new_menu_right button:hover a{
text-decoration:underline;
color:white;
cursor:pointer;
transition:1s;
}
.new_menu_right button:hover{
background:blue;
transition:1s;
}

@keyframes middle {
0%{width:100%;}
100%{width:50%;}
}

.new_menu2{
position:relative;
top:0px;
left:0%;
z-index:4;
background:#F2F5A9;
width:100%;
height:420px;
transition:0.5s;
}
.new1{
position:relative;
top:30px;
left:14%;
z-index:4;
}

.new2{
position:relative;
top:-108px;
left:-300px;
z-index:2;
}

.new_menu2 button{
position:relative;
top:100px;
left:-10%;
width:125px;
height:38px;
border-radius:6px;
background:#F2F5A9;
border:1px solid #AEB404;
font-size:14px;
z-index:4;
transition:1s;
}

.new_menu2 button a{
color:#AEB404;
transition:1s;
}

.new_menu2 button:hover{
background:#5E610B;
transition:1s;
}

.new_menu2 button:hover a{
color:white;
transition:1s;
text-decoration:underline;
}


.pick{
position:relative;
display:flex;
top:0px;
left:0%;
width:100%;
height:550px;
z-index:4;
justify-content:space-between;
align-items:center;
animation:pick 3s infinite alternate;
}

.pick_left{
display:flex;
flex-direction:column;
width:400px;
height:450px;
align-items:end;
justify-content:space-between;
margin-left:100px;

}

.pick_right{
width:612px;
height:410px;
margin-right:70px;
}

.pick_right img{
width:100%;
height:100%;
}

.pick_left button a{
color:white;
transition:1s;
}

.pick_left button:hover a{
color:black;
transition:1s;
text-decoration:underline;
}

.pick_left button:hover{
background:white;
}

.pick_left button{
width:125px;
height:38px;
border-radius:6px;
background:#00ff0000;
border:1px solid white;
font-size:14px;
z-index:1;
transition:1s;
}

@keyframes pick{

0%{
left:-5%;
width:40%;
}

100%{
left:-5%;
width:115%;
}
}

.lines{
display:flex;
flex-direction:column;
justify-content:start;
width:600px;
align-items:start;
margin-bottom:5px;
}

.lines1{
display:flex;
align-items:center;

}

.word_white{
color:white;
font-size:22px;
margin-bottom:20px;
}

.bold{
font-size:26px;
font-weight:700;
}

.second{
font-size:18px;
font-weight:900;
color:white;
}

.second2{
color:White;
}

.second3{
font-size:18px;
font-weight:900;
color:white;
}


.second4{
color:white;
}

.lines2-1{
display:flex;
flex-direction:column;
font-size:13px;
color:white;
}

.lines2-2{
display:flex;
font-size:13px;
color:white;
}


.footer1{
display:flex;
position:relative;
top:30px;
justify-content:center;
align-items:center;
z-index:4;
width:100%;
height:300px;
}

.footer2{
position:relative;
top:2%;
z-index:4;
width:100%;
height:400px;
}
.footer2 img{
width:100%;
height:100%;
}

.bottom{
width:100%;
height:250px;
background:#2e2e2e;
display:flex;
justify-content:space-between;
}

.bottom_line1{
padding:10px;
display:flex;
flex-direction:column;
}

.bottom_line1 a{
color:white;
}

.bottom_line1 a:nth-child(1){
font-size:15px;
padding:15px 0px;
}

.bottom_line1 a:not(:first-child){
font-size:12px;
padding:3px 0px;
}

.bottom2{
background:gray;
width:100%;
height:80px;
display:flex;
justify-content:space-between;
align-items:center;
background:#282828;
}

.bottom2 div{
display:flex;
width:100%;
justify-content:center;
}

.bottom3{
background:#2e2e2e;
width:100%;
height:200px;
}

.bottom3_line1{
display:flex;
justify-content:center;
}

.bottom3_line1 a{
color:gray;
font-size:12px;
margin-top:30px;
padding:0px 4px;
}
.bottom3_line1 .bottom3_green{
color:green;
}

.bottom3_line1 a:not(:last-child){
border-right:1px solid gray;
}

.bottom3_line2{
display:flex;
justify-content:center;
width:100%;
}

.bottom3_line2 button{
width:95px;
height:30px;
border-radius:4px;
background:#2e2e2e;
border:1px solid white;
margin:10px 3px;
}

.bottom3_line2 a{
color:white;
font-size:11px;
}

.bottom3_line2 button:hover a{
text-decoration:underline;
}

.bottom3_line3{
display:flex;
justify-content:center;
color:gray;
font-size:12px;
margin:10px;
}

.bottom3_line4{
display:flex;
justify-content:center;
color:gray;
font-size:12px;
margin:10px;
}

.footer2_button{
display:flex;
position:absolute;
position:relative;
justify-content:center;
align-items:center;
top:-100px;
left:57%;
width:17%;
height:75px;
border:none;
background:skyblue;
cursor:pointer;
z-index:4;

}

.button_width{
position:absolute;
border-top:5px solid purple;
border-bottom:5px solid green;
width:0%;
height:100%;
transition:1s;
}

.button_height{
position:absolute;
border-left:5px solid red;
border-right:5px solid blue;
width:100%;
height:0%;
transition:1s;

}

.footer2_button:hover .button_height{
height:100%;
border-radius:5px;
}

.footer2_button:hover .button_width{
width:100%;
border-radius:5px;
}


.media img{
width:100%;
}

.media_img{
margin:0px 15px;
}
.media_img1{
width:25px;
height:30px;
}

.media_img2{
width:24px;
height:32px;
}

.media_img3{
width:28px;
height:26px;
}

.media{
display:none;
}

header{
display:none;
}
.footer2_img2{
position:absolute;
top:120px;
left:56%;
width:25%;
z-index:4;
animation: footer2_img2 2s;
}

@keyframes footer2_img{
0%{left:90%;}
100%{left:56%;}
}

.footer2_img3{
position:absolute;
z-index:4;
top:185px;
left:56%;
width:25%;
animation: footer2_img3 3s;
}

@keyframes footer2_img{
0%{left:90%;}
100%{left:56%;}
}


.back_back{
position:fixed;
overflow-x:hidden;
top:75px;
left:0%;
width:100%;
height:1100px;
}
.back_img{
width:100%;
height:50%;

}
.section{
position:absolute;
top:1250px;
left:0px;
width:100%;
height:2990px;
transition:0.5s;
z-index:4;
overflow-x:hidden;
overflow-y:hidden;
}

.footer3{
margin-top:60px;
position:relative;
top:0px;
left:0%;
z-index:4;
}
.media_bottom{
display:none;
}
.WHATS_NEW{
border-top:1px solid gray;
}
.WHATS_NEW2{
border-top:1px solid gray;
height:20px;
}
.StarbucksReward{
border-top:1px solid gray;
}
.RESPONSIBILITY{
border-top:1px solid gray;
}
.STORE{
border-top:1px solid gray;
}
.MENU{
border-top:1px solid gray;
}

@media(max-width:950px){ /*---------------------------------------------------------------*/


.bottom{
height:220px;
}

.footer2_button{
left:50%;
}
.login{
height:460px;
display:flex;
justify-content:center;
}

.login_right{
display:flex;
flex-direction:column;
justify-content:start;
align-items:center;
width:400px;
height:400px;
top:0px;
}


.login_img img{
width:75%;
}
.login_img{
position:absolute;
top:30px;
left:0%;
}
.login_right2_bt{
position:absolute;
top:370px;
left:40%;
}

.lines{
display:flex;
justify-content:center;
align-items:start;
position:absolute;
left:40%;
top:20px;
}

.lines1{
display:flex;
flex-direction:column;
justify-content:start;
align-items:start;
}
#lines1-1{
position:absolute;
left:40%;
}
#lines1-2{
position:absolute;
top:285px;
left:40%;
font-weight:1000;
}
#lines2{
position:absolute;
top:305px;
left:40%;
}
#lines2-2{
position:absolute;
top:20px;
left:0%;
}
.word_white{
margin:0px;
}
.bold{
margin-bottom:10px;
}
.login_right1{
display:flex;
flex-direction:column;
justify-content:start;
align-items:center;
padding:0px;
margin-left:190px;
margin:0xp;
width:335px;
height:220px;
top:0px;

}
.login_right2{
display:flex;
flex-direction:column;
justify-content:center;
height:30px;
}
login_bt1{
margin-right:20px;
}
.login_right1_bt{
display:flex;
justify-content:space-between;
align-items:start;
margin:0px;
padding:0px;
width:170px;
position:absolute;
top:200px;
left:40%;
}
.navbar{
height:80px;
position:fixed;
top:0px;
left:0px;
}

header{
display:flex;
justify-content:center;
position:fixed;
width:100%;
height:4250px;
top:0px;
left:130%;
z-index:9;
transition:0.3s;
}

.stick{
position:sticky;
top:0px;
left:130%;
width:70%;
height:100%;
z-index:9;
overflow-y:scroll;
overflow-x:hidden;
background:#2e2e2e;
transition:0.5s;
}

.invisible{
position:sticky;
top:0px;
left:0%;
width:30%;
height:100%;
z-index:9;
background:black;
opacity:0.6;
}

.My_starbucks{
position:relative;
display:flex;
justify-content:space-between;
align-items:center;
top:111px;
width:100%;
height:63px;
background:#2e2e2e;
z-index:8;
}


.first{
background:#424242;
}


.stuff{
display:none;
justify-content:space-between;
align-items:center;
width:100%;
height:60px;
border-top:1px solid gray;
transition:0.5s;
}

.so{
width:100%;
background:#2E2E2E;
transition:0.5s;
height:0px;
}

.so .smaller{
font-size:20px;
padding:20px;
}

.soft{
opacity:0.3;
}


.My_starbucks a{
padding:20px;
font-size:25px;
color:white;
}


.smaller_so{
transition:0.5s;
height:0px;
}

.smallest .smaller_a{
width:550px;
height:0px;
transition:0.5s;
font-size:15px;
opacity:0.7;
padding:0px;
padding-left:50px;
margin:0px;
}


.smallest{
display:flex;
align-items:center;
flex-direction:column;
}

.My_starbucks a:hover{
text-decoration:underline;
}

.My_starbucks button{
border:none;
cursor:pointer;
background:#00ff0000;
width:20px;
height:20px;
padding:0px 60px;
}

.media_menu{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
width:100%;
height:110px;
background:#424242;
position:absolute;
top:0px;
left:0%;
z-index:8;
border-bottom:1px solid gray;
}

.search{
display:flex;
width:100%;
align-items:center;
justify-content:center;
}

.search_bar{
width:50%;
height:50px;

}

.search_button{
width:30%;
height:50px;
margin-left:5px;
background:gray;
color:white;
border:none;
border-radius:6px;
font-size:15px;
cursor:pointer;
}

.media{
display:flex;
position:fixed;
justify-content:end;
align-items:center;
width:100%;
z-index:15;
height:50px;
top:10px;
}


.exit{
position:absolute;
z-index:20;
padding:10px;
top:40px;
left:70%;
transition:2s;
}

.exit:hover{
transform:rotate(360deg);
}

.menubar{
display:none;
}

.main_img{
position:fixed;
top:15px;
left:2%;
width:40px;
height:40px;
z-index:8;
}

.banner{
top:15%;
left:85%;
width:15%;
}
.banner a img{
height:100%;
width:100%;
}

.coffee_img_button{
top:260px;
}

#new_menu_button{
left:-260px;
}
.new1{
left:0%;
}

.new2{
left:-600px;
}


.footer1 img{
width:140%;
}
.footer2{
width:125%;
left:-25%;
height:300px;
}
.footer2 img{
width:100%;
}
.promotion{
width:240%;
}
.pro_img{
width:96%;
height:80%;
}

.pro_button{
margin:10px;
left:35%;
}
.paging{
top:600px;
}
.footer1{
top:2.9%;
}
.footer2_button{
left:55%;
}
.footer2 .footer2_img2{
top:50px;
}
.footer2 .footer2_img3{
top:100px;
}
.bottom3_line1{
display:flex;
}
.section{
height:3040px;
}
}
/*-----------------------------------------------------------*/

@media(max-width:1060px){
.bottom3_line1{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.bottom2 div span{
line-height:0px;
}
.footer2_img2{
width:40%;
}
.footer2_img3{
margin-top:20px;
width:40%;
}
}

@media(max-width:680px){
.bottom2 div{
display:flex;
flex-direction:column;
}
.banner{
left:75%;
width:25%;
}
.images{
height:2100px;
}
.coffee_image{
top:80px;
height:1300px;
}
.coffee_img1{
top:50px;
left:5%;
width:65%;
}
.coffee_img2{
top:800px;
left:15%;
width:110%;
}
.coffee_img3{
left:10%;
width:100%;
top:220px;
}
.coffee_img4{
width:80%;
left:0%;
top:450px;
}
.coffee_img_button{
width:20%;
top:1100px;
left:40%;
}

.section{
overflow:hidden;
height:4000px;
margin-top:800px;
top:1280px;
}
.box{
width:100%;
left:0%;
}
.box{
display:flex;
flex-direction:column;
height:200px;
}
.black_box{
display:flex;
justify-content:center;
align-items:center;
width:100%;
height:90px;
}
.box2{
width:100%;
display:flex;
justify-content:center;
height:100px;
font-size:27px;
font-weight:550;
background:#f7f7f5;
z-index:2;
}

#img_up2{
cursor:pointer;
}
.adver{
top:-23px;
}
.paging{
top:960px;
}
.left_right{
top:1700px;
}

.promotion{
width:350%;
animation:pro2 6s infinite alternate;
}
.slide_img{
display:none;
}
.slide_img2{
display:block;
}
.slide_bt2{
display:block;
}

@keyframes pro2{
0%{
transform:translate(2%);
}
30%{
transform:translate(2%)
}
35%{
transform:translate(-23%)
}
65%{
transform:translate(-23%)
}
70%{
transform:translate(-49%)
}
100%{
transform:translate(-49%)
}

}
.slide_bt2{
background:#00ff0000;
border:none;
}
.pro_img{
width:100%;
height:80%;
}
.left_right{
display:none;
}

.login{
height:670px;
display:flex;
flex-direction:column;
}
.login_right1{
position:absolute;
padding:115px 130px;
left:-250px;
top:30px;
}
.login_img{
top:20px;
left:120px;
width:250px;
display:block;
}
.lines{
position:absolute;
top:150px;
left:100px;
width:100%;
height:300px;
display:flex;
flex-direction:column;

}
.lines1{
justify-content:center;
align-items:center;
width:70%;
}

.login_right1_bt{
top:400px;
left:22%;
width:58%;
}
.login_bt1{
width:180px;
}
.login_bt2{
width:150px;
}


.login_right2{
height:150px;
width:100%;
left:20%;
}
.lines2{
display:flex;
width:100%;
height:100px;
}
#lines1-1{
position:absolute;
top:80px;
width:215px;
left:130px;
margin-left:20px;
}
#lines1-2{
position:absolute;
top:100px;
left:95px;
}
.lines2-1{
position:absolute;
top:420px;
left:0px;
width:100%;
height:200px;

justify-content:center;
align-items:center;
}
.lines2-3{
position:absolute;
top:-10px;
left:10px;
}
#lines2{
position:absolute;
top:550px;
left:100px;
}
#lines2-2{
top:8px;
left:20px;
}
.login_right2_bt{
top:600px;
left:50px;
width:400px;
}
.new_menu_animation{
animation:abc;
position:relative;
left:-22%;
}
.new_menu_right{
position:relative;
left:-30%;
}
.left_right2{
justify-content:center;
align-items:center;
position:absolute;
top:1800px;
left:-2%;
z-index:4;
width:100%;
height:100px;
display:none;
}
.left2{
position:absolute;
justify-content:center;
align-items:center;
width:40px;
height:40px;
left:17%;
cursor:pointer;
border:1px solid black;
border-radius:25px;
z-index:2;
display:none;
}

.right2{
position:absolute;
width:40px;
height:40px;
left:80%;
cursor:pointer;
border:1px solid black;
border-radius:25px;
z-index:2;
display:none;
}
.middle_img1{
width:100%;
}
.middle_img2{
width:230%;
}
.new_menu2{
height:550px;
}
.new1{
width:80%;
}
.new2{
left:-890px;
top:20px;
}
#new_menu_button{
top:50px;
left:180px;
z-index:5;
}
.pick{
height:900px;
}
.pick_left{
top:100px;
left:-100px;
position:absolute;
}
.pick_right{
position:absolute;
top:550px;
left:50px;
width:90%;
}
.footer1{
height:240px;
}
.footer2{
height:250px;
}
.footer2_button{
position:absolute;
top:180px;
left:50%;
width:100px;
height:50px;
background:skyblue;
}
.footer2_img2{
position:absolute;
width:300px;
top:100px;
left:50%;
}
.footer2_img3{
position:absolute;
width:300px;
top:0px;
left:50%;
margin-top:10px;
}

.slide_img{
display:none;
}
.My_starbucks span a{
font-size:19px;
width:100%;
}
.stuff .smaller{
font-size:15px;
}
.My_starbucks .media_button{
padding:0px 30px;
}

.bottom_line1{
display:none;
}

.bottom{
position:relative;
top:21px;
}

.media_bottom{
position:relative;
z-index:4;
top:3150px;
left:0px;
width:100%;
height:500px;
display:block;
}

.media_bottom_first_line{
position:relative;
z-index:3;
display:flex;
justify-content:space-between;
align-items:center;
background:#554c46;
height:40px;
width:100%;
font-size:15px;
}

.media_bottom_first_line span{
color:white;
padding:10px;
cursor:pointer;
}
.media_bottom_first_line span:hover{
text-decoration:underline;
}

.media_bottom_first_line img{
cursor:pointer;
}

.media_bottom_second_line{
transition:0.4s;
display:flex;
flex-direction:column;
background:#645952;
width:100%;
height:0px;
position:relative;
z-index:2;
}

.media_bottom_second_line span{
position:relative;
z-index:2;
transition:0.4s;
height:40px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0px 10px;
background:#645952;
}

.media_bottom_second_line span img{
width:20px;
height:11px;
opacity:0.5;
cursor:pointer;
}

.media_bottom_second_line span a{
position:relative;
z-index:2;
color:#e6dbd3;
transition:0.4s;
font-size:13px;
height:0px;
}

.media_bottom_second_line span a:hover{
text-decoration:underline;
}

.media_bottom_inline{
position:relative;
z-index:1;
display:flex;
flex-direction:column;
transition:0.4s;
justify-content:center;
width:100%;
height:0px;
background:#76685E;
}
.media_bottom_inline a{
display:inline-block;
position:relative;
z-index:1;
color:#e6dbd3;
height:33.3px;
font-size:13px;
padding:5px 10px;
}



.bottom2 div{
display:none;
}

.media_bottom2{
position:relative;
z-index:2;
width:100%;
height:600px;
background:#282828;
overflow-x:hidden;
}

.media_bottom2 button{
width:135px;
height:50px;
margin:5px;
background:#00ff0000;
border:1px solid white;
color:white;
font-size:20px;
border-radius:4px;
}
.media_bottom2 button:hover{
text-decoration:underline;
cursor:pointer;
}

.media_bottom2_button_space{
display:flex;
justify-content:center;
align-items:center;
width:100%;
height:100px;
}

.media_bottom2_slide{
display:flex;
height:60px;
}
.media_bottom2_slide1,.media_bottom2_slide3{
position:relative;
width:30%;
z-index:2;
background:#282828;
}

.media_bottom2_slide div{
height:100px;
}

.media_bottom2_slide2{
display:flex;
transition:0.5s;
width:280px;
transform:translate(10%);
animation:media_slide 12s infinite;
}

@keyframes media_slide{
0%{transform:translate(15%)}
15%{transform:translate(15%)}
17%{transform:translate(-95%)}
30%{transform:translate(-95%)}
33%{transform:translate(-180%)}
50%{transform:translate(-180%)}
54%{transform:translate(-290%)}
65%{transform:translate(-290%)}
69%{transform:translate(-420%)}
80%{transform:translate(-420%)}
85%{transform:translate(-540%)}
100%{transform:translate(-540%)}
}
.media_bottom_slide_play{
display:flex;
height:30px;
justify-content:center;
}
.media_bottom_slide_play button{
width:50px;
height:30px;
border:1px solid gray;
}
.media_bottom_slide_play img{
filter:opacity(0.5) drop-shadow(0 0 0 white);
}

.media_bottom2_slide2 img{
position:relative;
transition:0.5s;
z-index:1;
width:320px;
height:40px;
margin:0px 50px;
}

.media_bottom3{
display:flex;
flex-direction:column;
align-items:center;
margin-top:30px;
width:100%;
height:150px;
font-size:12px;
}
.media_bottom3 a:hover{
text-decoration:underline;
}
.media_bottom3 a:not(:first-child){
color:white;
margin-top:5px;
}

.media_bottom3 a:nth-child(1){
color:green;
}
.media_bottom3_button{
width:100%;
height:100px;
display:flex;
justify-content:center;
align-items:center;
}
.media_bottom3_button button{
width:94px;
height:34px;
font-size:13px;
}

.media_bottom4{
width:100%;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
font-size:12px;
color:gray;
}

.footer3{
display:none;
}
.slide_bt{
display:none;
}
}
